package %s;

import static org.assertj.core.api.Assertions.assertThat;

import org.junit.jupiter.api.Test;

class %s {

  @Test
  void shouldWork() {
    // given

    // when

    // then
    assertThat(true)
            .as("This test is not implemented yet.")
            .isFalse();
  }
}
